<div class="cards">
  <% @lists.each do |list| %>
    <div class="mw-40 text-center d-flex flex-column align-items-center">
      <div class="card-img shadow-sm bg-dark m-3"></div>
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
  <% @lists.each do |list| %>
    <div class="mw-40 text-center d-flex flex-column align-items-center">
      <div class="card-img shadow-sm bg-dark m-3"></div>
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
  <% @lists.each do |list| %>
    <div class="mw-40 text-center d-flex flex-column align-items-center">
      <div class="card-img shadow-sm bg-dark m-3"></div>
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>
<%= link_to 'Add list', new_list_path %>
