// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "hero";
@import "glass";

body {
  background-image: image-url("placeholder.webp");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
